<p id="notice"><%= notice %></p>

<p>
  <b>Jplevel:</b>
  <%= @timetable.jplevel %>
</p>

<p>
  <b>Classname:</b>
  <%= @timetable.classname %>
</p>

<p>
  <b>School:</b>
  <%= @timetable.school %>
</p>

<p>
  <b>Starttime:</b>
  <%= @timetable.starttime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @timetable.endtime %>
</p>

<p>
  <b>Sunday:</b>
  <%= @timetable.sunday %>
</p>

<p>
  <b>Monday:</b>
  <%= @timetable.monday %>
</p>

<p>
  <b>Tuesday:</b>
  <%= @timetable.tuesday %>
</p>

<p>
  <b>Wednesday:</b>
  <%= @timetable.wednesday %>
</p>

<p>
  <b>Thursday:</b>
  <%= @timetable.thursday %>
</p>

<p>
  <b>Friday:</b>
  <%= @timetable.friday %>
</p>

<p>
  <b>Saturday:</b>
  <%= @timetable.saturday %>
</p>

<p>
  <b>Duration:</b>
  <%= @timetable.duration %>
</p>

<p>
  <b>Startdate:</b>
  <%= @timetable.startdate %>
</p>


<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>
