<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @user.userid %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @user.dob %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Normaltravelfee:</b>
  <%= @user.normaltravelfee %>
</p>

<p>
  <b>Gender:</b>
  <% if (@user.gender ==true) %>
  Male

  <% else %>
   Female
   <% end %>
</p>

<p>
  <b>Team:</b>
  <%= @user.team %>
</p>

<p>
  <b>Nrcnumber:</b>
  <%= @user.NRCnumber %>
</p>

<p>
  <b>Year of entry:</b>
  <%= @user.year_of_entry %>
</p>

<p>
  <b>Date of entry:</b>
  <%= @user.date_of_entry %>
</p>

<p>
  <b>Leaveday:</b>
  <%= @user.leaveday %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
