<%= simple_form_for(@travelfee) do |f| %>
  <% if @travelfee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travelfee.errors.count, "error") %> prohibited this travelfee from being saved:</h2>

      <ul>
      <% @travelfee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  
    <%= f.input :userid, :as => :select,:collection => @users.map{ |u| [u.userid,u.userid]} %> 
  </div>
  <div class="field">
    
    <%= f.input :classname, :as => :select,:collection => @timetables.map{ |u| [u.classname,u.classname]} %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :travelfee %><br />
    <%= f.number_field :travelfee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
