<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @attendance.userid %>
</p>

<p>
  <b>Date:</b>
  <%= @attendance.date %>
</p>

<p>
  <b>Reachtime:</b>
  <%= @attendance.reachtime %>
</p>

<p>
  <b>Leavetime:</b>
  <%= @attendance.leavetime %>
</p>


<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
