<!DOCTYPE html>
<html>
<head>
  <title>Attendanceproject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %> 
<%= link_to "Sign Out" ,destroy_user_session_path, :method => :delete %>
<%= link_to 'Timetable', timetables_path %>
<%= link_to 'Attendance', attendances_path %>
<%= link_to 'Travelfee', travelfees_path %>
<%= link_to 'User', users_path %>
<%end%>
<%= yield %>

</body>
</html>
